# Postgres credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Other tokens used by Flask
FLASK_ENV=DEV|PROD
FLASK_SECRET_KEY=
WEATHER_POST_PASSWORD=
PARKING_POST_PASSWORD=
OPEN_DATA_TOKEN=

IMGPROXY_KEY=
IMGPROXY_SALT=

# For flask migrate
FLASK_APP="app:create_app"
REDIS_URL=redis://localhost:6379/0

DISCORD_BOT_TOKEN=